<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile Page</title>
  </head>
  <body>
    <h1>Welcome, <%= user.name %></h1>
    <h3>Profession: <%= user.profession %></h3>
    <h5>City:<%= user.city %></h5>
  </body>
</html>
